@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

@font-face {
	font-family: 'Machine';
	src: url('/fonts/machine/machine.woff2') format('woff2'),url('/fonts/machine/machine.woff') format('woff'),url('/fonts/machine/machine.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}
