.text-monospace {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.ff-machine {
	font-family: 'Machine', serif;
}

.ff-lato {
	font-family: 'Lato', sans-serif;
}
