@import "../../_settings.scss";

body#index {

	.bio-summary {

		margin: rem(30) 0 rem(100);
		padding: 0 rem(15);
		max-width: rem(670);
		width: 100%;

		color: #fff;
		text-shadow: 0 rem(2) rem(3) #000;

		table {
			tbody {

				td:nth-child(1) {
					vertical-align: top;
					width: rem(30); 
					padding-left: 0;
				}

				td:nth-child(2) {
					padding-left: 0; 
					padding-right: 0;
				}
			}
		}
	}
}

@include breakpoint(medium) {
	body#index {

		.bio-summary {
			margin-top: rem(180);
		}
	}	
}

