@import "../../_settings.scss";

@import "_background.scss";

$min-height-600: "only screen and (min-height : rem-calc(600))";

.index#index {
	.heightWrapper {
		@media #{$min-height-600} {
			height: 100vh;	
		}

		min-height: rem-calc(600);
	}

	.pageContent {
		flex-direction: column;
		justify-content: center;

		color: #fff;
		text-shadow: 0 rem-calc(2) rem-calc(3) #000;

		h1 {
			line-height: 1.2;
			padding-right: rem-calc(12);
		}
	}

	.summary {
		max-width: rem-calc(600);
		line-height: 1.5;
	}
}