@import '../../_settings.scss';
@import '_background.scss';

$minW_640--maxW_768--maxH_600: 'only screen and (min-width : rem-calc(640)) and (max-width : rem-calc(768)) and (max-height : rem-calc(600))';

.index#index
{
    .heightWrapper
    {
        height: 100vh;
        min-height: rem-calc(500);

        @media #{$minW_640--maxW_768--maxH_600}
        {
            max-width: rem-calc(639);
            max-height: rem-calc(600);
            padding-top: rem-calc(20);
        }
    }

    .pageContent
    {
        flex-direction: column;

        color: #fff;
        text-shadow: 0 rem-calc(2) rem-calc(3) #000;

        justify-content: center;

        @media #{$minW_640--maxW_768--maxH_600}
        {
            justify-content: normal;
        }

        h1
        {
            line-height: 1;

            padding-right: rem-calc(12);

            span.h3 {
                line-height: 1.2;
            }
        }
    }

    .summary
    {
        line-height: 1.5;

        max-width: rem-calc(600);
    }

    .colophonLink {
        color: #fff;
        padding-bottom: rem-calc(2);
        display: inline-table;

        &:hover {
            padding-bottom: 0;
            border-bottom: rem-calc(2) solid #fff;
        }
    }
}
