@import '../../_settings.scss';
@import '_background.scss';
@import '_skylineDetail.scss';

.index#index {
	.heightWrapper {
		min-height: 100%;
		position: relative;

		.row {
			padding: 30px 0 220px;
		}
	}

	.summary {
		line-height: 1.5;
		max-width: rem-calc(600);
	}

	.colophonLink {
		color: $black;
		padding-bottom: rem-calc(2);

		&:hover {
			padding-bottom: 0;
			border-bottom: rem-calc(2) solid #000;
		}
	}
}
