@import "../../_settings.scss";

@import "_background.scss";

$beta: "only screen and (min-width : rem-calc(640)) and (max-width : rem-calc(768)) and (max-height : rem-calc(600))";

.index#index {
	.heightWrapper {
		height: 100vh;
		min-height: rem-calc(500);

		@media #{$beta} {
			max-width: rem-calc(639);
			max-height: rem-calc(600);
		}
	}

	.pageContent {
		flex-direction: column;
		justify-content: center;

		@media #{$beta} {
			justify-content: normal;
		}

		color: #fff;
		text-shadow: 0 rem-calc(2) rem-calc(3) #000;

		h1 {
			line-height: 1.2;
			padding-right: rem-calc(12);
		}
	}

	.summary {
		max-width: rem-calc(600);
		line-height: 1.5;
	}
}