.index#index {
	.skylineDetail {
		background: transparent url('/img/index/background/houston-skyline-detail.png') center top/cover no-repeat;
	}

	@include breakpoint(720) {
		.skylineDetail {
			background-size: contain;
			background-position: right bottom;
		}
	}
}
