@import "../_settings.scss";
@import "typography/_fonts.scss";


.title {
	font-family: $title-font;
	font-weight: bold;
	letter-spacing: rem(-0.5);
}

.serif {
	font-family: $serif-font;
	letter-spacing: rem(-0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	letter-spacing: rem(-0.5);

	@include breakpoint(medium) {
		letter-spacing: rem(-1);
	}
}


table.transparent {
	thead,
	tbody,
	tfoot {
		background: transparent;
		border: none;
	}
}

.contrast {
	* {
		color: #fff;
		text-shadow: 0 rem(2) rem(3) #000;
	}
}

a {
	&:hover {
		text-decoration: underline;
	}
}
